{% extends "HeaderHome.html" %}   // Inherits all the components from base template, including the header and footer


{% block content %}
{% load static %}


<div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-background card-background-mask-light h-100 tilt" data-tilt="" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                <div class="card-body pt-4 text-center">
                  <h1 class="font-weight-bolder">Let Our AI Bring you New Customers</h1>
                  <h4 class="mb-0">Zero spam, no bots, and not one fake follower. Let us find your audience.</h4>
                </div>
                <div class="card-body">
                <span class="badge badge-lg d-block bg-gradient-dark mb-2 up">Let's Manage your Engagement</span>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                </div>
              </div>
            </div>
        <div class="col-lg-8 col-sm-6 mt-sm-0 mt-4">
          <div class="card bg-transparent shadow-none">
            <div class="card-body p-3 bg-transparent">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <section class="animationWrapper">
                    <span></span>
                    <div class="animationBox top">
                      <div class="imgName">
                        <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="circle-img">
                        <p>
                          <b class="bolder">@your.profile</b>
                          <span class="light">Brand,Store,Influencer etc..</span>
                        </p>
                      </div>
                      <p>
                        <b class="bolder">1000</b><span class="light">followers</span>
                      </p>
                      <p>
                        <b class="bolder">3,200</b><span class="light">likes</span>
                      </p>
                      <p>
                        <b class="bolder">5,000</b><span class="light">views</span>
                      </p>
                    </div>
                    <br>
                    <div class="animationBox headings">
                      <b class="bolder">Your Current Audience :</b>
                    </div>

                    <div class="animationBox middle">
                      <!-- first box -->
                      <div>
                        <div class="fake-container">
                          <div class="imgName fake">
                            <img src="{% static 'NewDashboard/assets/img/3.jpg' %}" class="circle-img small-img">
                            <b class="bold">follower 1</b>
                          </div>

                          <div class="imgName">
                            <img src="{% static 'NewDashboard/assets/img/3.jpg' %}" class="circle-img small-img">
                            <b class="bold">follower 1</b>
                          </div>
                        </div>

                        <div class="dFlex">
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                            <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                           <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                        </div>
                      </div>

                      <!-- second box -->
                      <div>
                        <div class="fake-containerScndRow">
                          <div class="imgName">
                            <img src="{% static 'NewDashboard/assets/img/bruce-mars.jpg' %}" class="circle-img small-img">
                            <b class="bold">follower 2</b>
                          </div>
                        </div>

                        <div class="dFlex">
                         <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                         <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                         <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                        </div>
                      </div>

                      <!-- third box -->
                      <div>
                        <div class="fake-containerScndRow">
                          <div class="imgName">
                            <img src="{% static 'NewDashboard/assets/img/kal-visuals-square.jpg' %}" class="circle-img small-img">
                            <b class="bold">follower 3</b>
                          </div>
                        </div>

                        <div class="dFlex">
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <br><br>

                    <div class="animationBox headings">
                      <b class="bolder">Generated Target Audience:</b>
                    </div>

                    <div class="animationBox bottom">
                      <!-- first box -->
                      <div>
                        <div class="fake-container">
                          <div class="imgName fake">
                            <img src="{% static 'NewDashboard/assets/img/marie.jpg' %}" class="circle-img small-img">
                            <b class="bold">follower 1</b>
                          </div>

                          <div class="imgName">
                            <img src="{% static 'NewDashboard/assets/img/marie.jpg' %}" class="circle-img small-img">
                            <b class="bold">follower 1</b>
                          </div>
                        </div>

                        <div class="dFlex">
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                        </div>
                      </div>

                      <!-- second box -->
                      <div>
                        <div class="fake-container">
                          <div class="imgName fake">
                            <img src="{% static 'NewDashboard/assets/img/team-3.jpg' %}" class="circle-img small-img">
                            <b class="bold">follower 2</b>
                          </div>

                          <div class="imgName">
                            <img src="{% static 'NewDashboard/assets/img/team-3.jpg' %}" class="circle-img small-img">
                            <b class="bold">follower 2</b>
                          </div>
                        </div>

                        <div class="dFlex">
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                        </div>
                      </div>

                      <!-- third box -->
                      <div>
                        <div class="fake-container">
                          <div class="imgName fake">
                            <img src="{% static 'NewDashboard/assets/img/team-4.jpg' %}" class="circle-img small-img">
                            <b class="bold"> follower 3</b>
                          </div>

                          <div class="imgName">
                            <img src="{% static 'NewDashboard/assets/img/team-4.jpg' %}" class="circle-img small-img">
                            <b class="bold">follower 3</b>
                          </div>
                        </div>

                        <div class="dFlex">
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                          <figure>
                            <img src="{% static 'NewDashboard/assets/img/6.jpg' %}" >
                            <figcaption>
                            <img src="{% static 'NewDashboard/assets/img/1.jpg' %}" class="small-circle-img">
                            <img src="{% static 'NewDashboard/assets/img/heart.svg' %}" >
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>





      </div>
    </div>

{% endblock %}
