{% extends "header.html" %}   // Inherits all the components from base template, including the header and footer
{% block engagement %}class="nav-link"{% endblock %}
{% block targeting %}class="nav-link"{% endblock %}
{% block dashboard %}class="nav-link"{% endblock %}
{% block instaConn %}class="nav-link active"{% endblock %}
{% block myprofile %}class="nav-link"{% endblock %}

{% block content %}
{% load static %}

<body class="g-sidenav-show  bg-gray-100">
  <!-- Navbar -->

  <!-- End Navbar -->
  <section class="h-100-vh mb-8">
    <div class="page-header align-items-start section-height-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('{% static 'NewDashboard/assets/img/curved-images/curved14.jpg' %}');">

      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="text-white mb-2 mt-5">Connect Instagram Account</h1>
            <p class="text-lead text-white"> If you want to see what we can do for your Instagram profile, you first need to enter your Instagram username and let us do the magic! </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-12 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h5> Your account security is very important to us! </h5>
            </div>

            <div class="card-body">

      <div class="row">
            <div class="col-12 text-center">
              <h3 class="mt-5">Connect Your Profile</h3>
              <h5 class="text-secondary font-weight-normal">This information will let us know more about you.</h5>
              <div class="multisteps-form mb-5">
                <!--progress bar-->
                <div class="row">
                  <div class="col-12 col-lg-8 mx-auto my-5">
                    <div class="multisteps-form__progress">
                      <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">
                        <span>Info</span>
                      </button>
                      <button class="multisteps-form__progress-btn" type="button" title="Address">
                        <span>Connect</span>
                      </button>
                      <button class="multisteps-form__progress-btn" type="button" title="Order Info">
                        <span>Validate</span>
                      </button>
                    </div>
                  </div>
                </div>
                <!--form panels-->
                <div class="row">
                  <div class="col-12 col-lg-8 m-auto">
                    <form class="multisteps-form__form" style="height: 467px;">
                      <!--single form panel-->
                      <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                        <div class="row text-center">
                          <div class="col-12 mx-auto">
                            <h5 class="font-weight-normal">Let's start with the basic information</h5>
                            <p>Let us know your name and email address. Use an address you don't mind other users contacting you at</p>
                          </div>
                        </div>
                          <div class="row">
                            <div class="button-row d-flex mt-4 col-12">
                              <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                              <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>

                            </div>
                          </div>
                      </div>
                      <!--single form panel-->
                      <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                        <div class="row text-center">
                          <div class="col-12 mx-auto">
                            <h5 class="font-weight-normal">What are you doing? (checkboxes)</h5>
                            <p>Give us more details about you. What do you enjoy doing in your spare time?</p>
                          </div>
                        </div>
                        <div class="multisteps-form__content">
                          <div class="row text-start">
                            <div class="col-12 col-md-6 ms-auto mt-3">
                              <label>Instagram ID</label>
                              <input class="multisteps-form__input form-control" type="text">
                            </div>
                            <div class="col-12 col-md-6 ms-auto mt-3">
                              <label>Instagram Password</label>
                              <input class="multisteps-form__input form-control" type="text">
                            </div>


                          </div>
                          <div class="row">
                            <div class="button-row d-flex mt-4 col-12">
                              <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                              <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Send">Send</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--single form panel-->
                      <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                        <div class="row text-center">
                          <div class="col-12 mx-auto">
                            <h5 class="font-weight-normal">We Validate your Credentials</h5>
                            <p>lablablablab</p>
                          </div>
                        </div>
                        <div class="multisteps-form__content">
                          <div class="row text-start">

                          </div>
                          <div class="row">
                            <div class="button-row d-flex mt-4 col-12">

                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

    {% for message in messages  %}
    <h3>{{message}}</h3>
    {% endfor %}

</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
     <!-- ***********************************************   END Chart data   ************************************************************** -->


<!-- Tabs navs -->

<!-- Tabs content -->

<!-- Tabs content -->
     <!-- ***********************************************   Footer data   ************************************************************** -->
{% endblock %}